<form action="/users/<%= @user[:id]%>" method="post">
  <input type="hidden" name="_method" value="put">
    First name: <input type="text" name="first" method="post">
    Last name: <input type="text" name="last" method="post">
  <input type="submit" value="Edit User">
</form>